*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
nav{
    width: 100%;
    background-color: rgba(63,94,251,0.7);
    height: 47px;
}
.enlace{
    position: absolute;
    padding: 10px;
}
ul{
    display: inline;
    float: right;
    margin-right: 20px;
    line-height: 47px;
}
li{
    display: inline;
    margin: 10px;
}
a.link{
    color: white;
    background-color: transparent;
    border-radius: 5px;
    padding: 4px 10px;
}
a.link:hover{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 4px 10px;
}
a.active{
    background-color: rgb(77, 182, 172);
    color: white;
    border-radius: 5px;
    padding: 4px 10px;
}
a.active:hover{
    background-color: blue;
    color: white;
}
.checkbtn{
    float: right;
    display: none;
}
#check{
    display: none;
}

body {
    background-color: rgb(224, 242, 241);
    background-image: url('../images/circuit-board.svg');
  }
  .wrapper {
    width: 100%;
  }
  p{
    color: black;
    margin: 1em 1em;
  }
  h1{
    margin: 10px 10px;
    padding: 0px;
  }

  @media screen and (max-width: 600px) {
    .checkbtn{
        display: block;
        margin-right: 30px;
        line-height: 47px;
    }
    ul{
        position: fixed;
        width: 100%;
        background-color: rgb(224, 242, 241);
        top: 47px;
        text-align: center;
        left: -100%;
        margin: 0px 0px;
        line-height: 30px;
        transition: all 0.3s;
    }
    li{
        display: block;
        margin: 60px 0px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    a.link{
        color: black;
        background-color: transparent;
        border-radius: 5px;
        padding: 4px 10px;
    }
    a.link:hover{
        background-color: blue;
        color: white;
        border-radius: 5px;
        padding: 4px 10px;
    }
    a.active:hover{
        background-color: blue;
        color: white;
    }
  }