*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
nav{
    width: 100%;
    background-color: rgb(26, 26, 26);
    height: 47px;
}
.enlace{
    position: absolute;
    padding: 10px;
}
ul{
    display: inline;
    float: right;
    margin-right: 40px;
    line-height: 47px;
}
li{
    display: inline;
    margin: 20px;
}
a.link{
    color: white;
    background-color: transparent;
    border-radius: 5px;
    padding: 2px 6px;
}
a.link:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 2px 6px;
}
a.active{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 2px 6px;
}
a.active:hover{
    background-color: rgb(255, 238, 170);
}
.checkbtn{
    float: right;
    display: none;
}
#check{
    display: none;
}

body {
    background-color: rgb(50, 50, 50);
    background-image: url('../images/circuit-board.svg');
  }
  .wrapper {
    width: 100%;
  }
  p{
    color: white;
    margin: 2em;
  }

  @media screen and (max-width: 600px) {
    .checkbtn{
        display: block;
        margin-right: 30px;
        line-height: 47px;
    }
    ul{
        position: fixed;
        width: 100%;
        background-color: rgb(55, 55, 55);
        top: 47px;
        text-align: center;
        left: -100%;
        margin: 0px 0px;
        line-height: 50px;
        transition: all 0.3s;
    }
    li{
        display: block;
        margin: 60px 0px;
    }
    #check:checked ~ ul{
        left: 0;
    }
  }